.tableContainer {
    width: 80%;
    display: inline-table;
    margin: 50px 0 0 0;

    .checkoutInfo {
        text-align: left;
        margin-left: 105px;
    }
    .checkoutMessage {
        text-align: center;
        margin-left: 105px;
    }
    

}