.gridSection {
    box-shadow: 2px 2px 8px rgba(160, 160, 160, 0.2);
    padding: 10px 15px 0;
    border-top: 1px solid #eee;
    padding-top: 15px;
    position: relative;
    top: 10px;

    .row {
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
        margin-bottom: 25px;
        display: flex;

        &:last-child {

            border-bottom: none;
        }
    }

    h3 {
        margin: 0;
        padding: 0;
        color: #1c3b50;
    }

    .discriptionCol {
        height: 112px;
    }

    .actionBtn {
        button {
            margin: 0px 15px 0px 15px;
        }
    }


}

.checkoutButton {
    margin-top: 40px;
}

.mainCaption {
    font-size: 22px;
    font-weight: 600;
}

.itemPrice {
    font-weight: 600;
    font-size: 16px;
}

.cartItemThumb {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: contain;
}